# 版本控制
.git
.gitignore

# Python 缓存
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

# 虚拟环境（不打包，镜像内重新安装依赖）
venv/
env/
Lib/
Include/
Scripts/
pyvenv.cfg
activate.bat
*.bat

# 本地数据
*.tmp
*.log
data/

# IDE
.idea/
.vscode/
*.swp

# 文档说明类（可选）
放任意虚拟环境目录中即可激活.bat
